# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
ENV/

# VS Code
.vscode/

# Environment files
.env
.env.*

# Database
*.db
*.sqlite3

# Logs
*.log

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Test & coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Node
node_modules/

# Misc
*.bak
*.swp
*.swo

# Others
.idea/
*.orig
