fastapi[all]
uvicorn[standard]
sqlalchemy
pydantic[email]
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
python-multipart
slowapi
python-dotenv
email-validator
aiofiles
psycopg2-binary
gunicorn
